@charset "utf-8";
/* CSS Document */


/*
 * Table
 */
 
.responsive_table{
	width:100%;
}
table.dataTable {
	margin: 0 auto;
	clear: both;
	width: 100%;
	border:#DDD 1px solid;
	width: 100%; 
	border-collapse: collapse; 
}

table.dataTable thead th {
	padding: 6px 10px;
	text-align:center;
}

table.dataTable tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}

table.dataTable td {
	padding: 5px 10px;
	font-size:0.8em;
	border:#DDD 1px solid;
}
table.dataTable tr td:first-child{ border-left:none; text-align:center;}
table.dataTable tr td:last-child{ border-right:none;}
table.dataTable tr:last-child td{ border-bottom:none;}

table.dataTable td.center,
table.dataTable td.dataTables_empty {
	text-align: center;
}

table.dataTable tr.odd { background-color: #FFF; }
table.dataTable tr.even { background-color: #F7F7F7; }

/*table.dataTable tr.odd td.sorting_1 { background-color: #FFF; }
table.dataTable tr.odd td.sorting_2 { background-color: #FFF; }
table.dataTable tr.odd td.sorting_3 { background-color: #FFF; }
table.dataTable tr.even td.sorting_1 { background-color: #FFF; }
table.dataTable tr.even td.sorting_2 { background-color: #FFF; }
table.dataTable tr.even td.sorting_3 { background-color: #FFF; }*/


/*
 * Table wrapper
 */
.dataTables_wrapper {
	position: relative;
	clear: both;
	*zoom: 1;
	margin:20px 0;
	margin-top:50px;
}


/*
 * Page length menu
 */
.dataTables_length {
	float: left;
	margin-bottom:10px;
}


/*
 * Filter
 */
.dataTables_filter {
	float: right;
	text-align: right;
	margin-bottom:10px;
}
.dataTables_filter input{
	padding:3px 5px;
}

/*
 * Table information
 */
.dataTables_info {
	clear: both;
	float: left;
	margin-top:10px;
}


/*
 * Pagination
 */
.dataTables_paginate {
	float: right;
	text-align: right;
	margin-top:10px;
}

/* Two button pagination - previous / next */
.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_next,
.paginate_enabled_next {
	height: 19px;
	float: left;
	cursor: pointer;
	*cursor: hand;
	color: #111 !important;
}
.paginate_disabled_previous:hover,
.paginate_enabled_previous:hover,
.paginate_disabled_next:hover,
.paginate_enabled_next:hover {
	text-decoration: none !important;
}
.paginate_disabled_previous:active,
.paginate_enabled_previous:active,
.paginate_disabled_next:active,
.paginate_enabled_next:active {
	outline: none;
}

.paginate_disabled_previous,
.paginate_disabled_next {
	color: #666 !important;
}
.paginate_disabled_previous,
.paginate_enabled_previous {
	padding: 3px 8px;
	font-size:.9em;
}
.paginate_disabled_next,
.paginate_enabled_next {
	padding:3px 8px;
	margin-left: 10px;
	font-size:.9em;
}

.paginate_enabled_previous { color:#06C !important; border:#06C 1px solid;  }
.paginate_enabled_previous:hover { background:#06C; color:#FFF !important; }
.paginate_disabled_previous { color:#999 !important; border:#DDD 1px solid; cursor:auto; }

.paginate_enabled_next { color:#06C !important; border:#06C 1px solid;  }
.paginate_enabled_next:hover { background:#06C; color:#FFF !important; }
.paginate_disabled_next { color:#999 !important; border:#DDD 1px solid; cursor:auto; }

/* Full number pagination */
.paging_full_numbers {
	height: 22px;
	line-height: 22px;
}
.paging_full_numbers a:active {
	outline: none
}
.paging_full_numbers a:hover {
	text-decoration: none;
}

.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
	color: #333 !important;
}

.paging_full_numbers a.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers a.paginate_button:hover {
	background-color: #ccc;
	text-decoration: none !important;
}

.paging_full_numbers a.paginate_active {
	background-color: #99B3FF;
}


/*
 * Processing indicator
 */
.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}


/*
 * Sorting
 */
/*.sorting ,.sorting_asc ,.sorting_desc  { background: url('../images/sort_both.png') no-repeat center right; }
.sorting_asc { background: url('../images/asc.gif') no-repeat center right; }
.sorting_desc { background: url('../images/desc.gif') no-repeat center right; }

.sorting_asc_disabled { background: url('../images/sort_asc_disabled.png') no-repeat center right; }
.sorting_desc_disabled { background: url('../images/sort_desc_disabled.png') no-repeat center right; }*/
 
table.dataTable thead th:active,
table.dataTable thead td:active {
	outline: none;
}


/*
 * Scrolling
 */
.dataTables_scroll {
	clear: both;
}

.dataTables_scrollBody {
	*margin-top: -1px;
	-webkit-overflow-scrolling: touch;
}

/********************responsive1*******************/
/* Hide table headers (but not display: none;, for accessibility) */
@media only screen and (max-width: 800px){
	
		.responsive thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
			display:none;
		}
		
		.responsive tr { border: 1px solid #ccc; }
		
		.responsive tbody td { 
			/* Behave  like a "row" */
			border: none; 
			position: relative;
			padding-left: 50%;
			text-align:left;
			color:#000;
		}
		table.dataTable tr td:first-child{text-align:left;}
		.responsive td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			/*padding-right: 10px; */
			white-space: nowrap;
			font-size: .9em;
			color:#ED5139 !important;
			border-right:#DDD 1px solid;
		}
		
		/*
		Label the data
		*/
		.one td:nth-of-type(1):before { content: "Sl"; }
		.one td:nth-of-type(2):before { content: "Name"; }
		.one td:nth-of-type(3):before { content: "Designation"; }
		.one td:nth-of-type(4):before { content: "Address"; }
		.one td:nth-of-type(5):before { content: "Phone"; }
		.one td:nth-of-type(6):before { content: "Email"; }
	
		.two td:nth-of-type(1):before { content: "Sl"; }
		.two td:nth-of-type(2):before { content: "Name"; }
		.two td:nth-of-type(3):before { content: "Designation"; }
		.two td:nth-of-type(4):before { content: "Posting"; }
		.two td:nth-of-type(5):before { content: "Phone"; }
		.two td:nth-of-type(6):before { content: "Email"; }
		
		.three td:nth-of-type(1):before { content: "Sl"; }
		.three td:nth-of-type(2):before { content: "State"; }
		.three td:nth-of-type(3):before { content: "ICPS : Name of Officer"; }
		.three td:nth-of-type(4):before { content: "ICPS : Designation"; }
		.three td:nth-of-type(5):before { content: "ICPS : Contact"; }
		.three td:nth-of-type(6):before { content: "ICPS : Email"; }
		.three td:nth-of-type(7):before { content: "POLICE : Name of Officer"; }
		.three td:nth-of-type(8):before { content: "POLICE : Designation"; }
		.three td:nth-of-type(9):before { content: "POLICE : Contact"; }
		.three td:nth-of-type(10):before { content: "POLICE : Email"; }
		
		.four td:nth-of-type(1):before { content: "Sl. No";}
		.four td:nth-of-type(2):before { content: "CWC Name";}
		.four td:nth-of-type(3):before { content: "District";}
		
		
		.responsive table, .responsive thead, .responsive tbody, .responsive th, .responsive td, .responsive tr { display: block; }
	}
	
	